<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/vet-assets/js/jquery.min.js"></script>
        <script src="/vet-assets/js/bootstrap.min.js"></script>
        <script src="/vet-assets/js/detect.js"></script>
        <script src="/vet-assets/js/fastclick.js"></script>

        <script src="/vet-assets/js/jquery.slimscroll.js"></script>
        <script src="/vet-assets/js/jquery.blockUI.js"></script>
        <script src="/vet-assets/js/waves.js"></script>
        <script src="/vet-assets/js/wow.min.js"></script>
        <script src="/vet-assets/js/jquery.nicescroll.js"></script>
        <script src="/vet-assets/js/jquery.scrollTo.min.js"></script>

        <script src="/vet-assets/plugins/peity/jquery.peity.min.js"></script>

        <!-- jQuery  -->
        <script src="/vet-assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
        <script src="/vet-assets/plugins/counterup/jquery.counterup.min.js"></script>


        <script src="/vet-assets/plugins/morris/morris.min.js"></script>
        <script src="/vet-assets/plugins/raphael/raphael-min.js"></script>

        <script src="/vet-assets/plugins/jquery-knob/jquery.knob.js"></script>

        <script src="/vet-assets/pages/jquery.dashboard.js"></script>

        <script src="/vet-assets/js/jquery.core.js"></script>
        <script src="/vet-assets/js/jquery.app.js"></script>


        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $(".knob").knob();

            });
        </script>

        <script type="text/javascript" src="/dist/bundle.js"></script>
