<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Brix">

<link rel="shortcut icon" href="/vet-assets/images/favicon_1.ico">

<title>Vet Fetch</title>


<link rel="stylesheet" href="/vet-assets/plugins/morris/morris.css">

<link href="/vet-assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/vet-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="/vet-assets/css/fixed-data-table.css" rel="stylesheet" type="text/css" />


<script src="/vet-assets/js/modernizr.min.js"></script>
