<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>

  <body class="is-loading-0 is-loading-1">
  	<div id="wrapper">
  		<div id="app">{{{react}}}</div>
  	</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  		{{>javascripts}}

  </body>

</html>
