<!DOCTYPE html>
<html>
  <head>
    {{>vet-head}}
  </head>
  <body class="widescreen fixed-left-void">
  	<div id="wrapper" class="enlarged forced">
    	<div id="app">{{{react}}}</div>
	   </div>
    {{>vet-javascripts}}
  </body>
</html>
